/* Styling Box */
.box{
    margin-left: 50px;
}

.box{
width: 250px;
height:600px;
border: 1px solid black;
float: left;
margin: 20px;
}
 
.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: greenyellow;
}

.blue{
    background-color: blue;
}