.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar main right"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
    height: calc(200vh - 40px);
}
.header {
    background-color: orangered;
    padding: 15px;
    grid-column: 2/4;
    border: 1px solid black;
}
.sidebar {
    grid-area: sidebar;
    background-color: greenyellow;
    padding: 10px;
    border: 1px solid black;
}
.main {
    grid-area: main;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}
.right {
    grid-area: right;
    background-color: blue;
    padding: 10px;
    border: 1px solid black;
}
.footer {
    grid-area: footer;
    background-color: blue;
    padding: 10px;
    border: 1px solid black;
}
.top-left {
    background-color: yellow;
    padding: 15px;
    border: 1px solid black;
}