.atas {
    text-align: center;
    background-color: lightpink;
}

.as {
    background-color: skyblue;
} 

.article {
    text-align: center;
    padding-top: 13%;
}

#hrf1 {
    text-align: center;
    padding-top: 100%;
}

#k1 {
    background-color: greenyellow;
    height: 200px;
    width: 200px;
    margin: 2%;
}

#k2 {
    background-color: green;
    height: 200px;
    width: 200px;
    margin: 2%;
}

#k3 {
    background-color: greenyellow;
    height: 200px;
    width: 200px;
    margin: 2%;
}

img {
    height: 200px;
    width: auto;
}